{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<div class="card">
    <div class="card-body">
        <h1>Cadastro: </h1>
        <form action="/usuario/cadastro" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" class="form-control mb-2" required>
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" class="form-control mb-2" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" id="senha" class="form-control mb-2" required>
            <label for="senha2">Repita a senha: </label>
            <input type="password" name="senha2" id="senha2" class="form-control mb-2">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>